<div class="row">
  <div class="col-sm-12">
    <div class="about" style="color:#777777;">
      <center>
      <h1><b>ABOUT CABME</b></h1><br/>
      <p>Cabme is a  platform to provide people the convenience of booking and sharing cabs be it a city or village. Initially we are launching in Rajasthan.A person  can book and share his cab using our website <b>cabme.in</b> and app(In development stage).The service is available 24 hrs at affordable prices everywhere.<br/><br/>
        We are a group of young dynamic students working on the technology to provide best experience to the customers.</p><br/>

        <h2><b>Our team</b></h2><br/><br/>
        <div>
        <img style="height:180px; width:200px; " src="http://s1.postimg.org/5cqzhuxlb/10403694_889441077761093_4607055386322737105_n.jpg"><br/><p><b>Reddy Kumara Simha (Founder And CEO)</b><br/></p><br/>
        <img style="height:180px; width:200px; " src="http://s15.postimg.org/os6rjipnf/1375314_10151924457117943_155346204_n.jpg"> <br/><p  ><b>Harshit Sandhir(Co-founder and CTO)</b><br/></p><br/><br/>
        <img style="height:150px; width:200px; " src="http://s17.postimg.org/9v438co8v/1074572_936032516411973_5605599505161728713_o.jpg"><br/><p><b>Anurag Sharma(CMO)</b><br/></p><br/><br/>
        <img style="height:150px; width:200px; " src="http://s9.postimg.org/xtabtljjj/1378317_815152048523330_8961268015729097440_n.jpg"><br/><p><b>Kshitij Sethi(MD)</b><br/></p><br/><br/>
      </div>


</div>
</div>
</div>
