<div class="row">
  <div class="col-sm-12">
  	<div class="about" style="color:#777777;">
  		<center>
  		<h1><b>ABOUT CABME</b></h1><br/>
  		<p>Cabme is a  platform to provide people the convenience of booking and sharing cabs be it a city or village. Initially we are launching in Rajasthan.A person  can book and share his cab using our website <b>cabme.in</b> and app(In development stage).The service is available 24 hrs at affordable prices everywhere.<br/><br/>
        We are a group of young dynamic students working on the technology to provide best experience to the customers.</p><br/>

        <h2><b>Our team</b></h2><br/>
        <p><b>Reddy Kumara Simha (Founder And CEO)</b><br/>A BITS Pilani Student ,he is currently working on the Management of Cabme. He has vast experience as Hostel Representative for two years in BITS. The idea of starting his own cab service occurred to him when he saw a major problem of booking cabs existing in places like Pilani and other such secluded places.<br/>
        <b>Harshit Sandhir ( Co-Founder and CTO)</b><br/>Harshit is a coding enthusiast who is currently pursuing Computer science at BITS Pilani. He is handling all the technical part of cabme. He has already worked on many projects in BITS and always looks for a way to improve the product he has developed.</p><br/>

        <h2><b>CONTACT</b></h2><br/>

        <p>Reddy Kumara Simha : 8890605392</p><br/>
        <p>Harshit Sandhir : 8094041333</p>


</div>
</div>
</div>


