<div class="row">
  <div class="col-sm-12">
  	<div class="about" style="color:#777777;">
  		<center>
  		<h1><b>CONTACT US</b></h1><br/>
  		  <p>Reddy Kumara Simha : 8890605392</p><br/>
        <p>Harshit Sandhir : 8094041333</p>


</div>
</div>
</div>