<div class="row">
  <div class="col-sm-12">
  	<div class="about" style="color:#777777;">
  		<center>
  		<h1><b>CONTACT US</b></h1><br/><br/>
                  <p>For feedback or booking related queries : </p><br/>
  		  <p> 8890605392</p><br/>
                 <!-- <p>Kshiz Sethi : 9610247792</p><br/><br/>

                  <p>For website related queries : </p><br/>
                  <p>Harshit Sandhir : 8094041333</p> -->


</div>
</div>
</div>
